<div class="container">
    <div class="row">
      <div *ngFor="let Serie of series" class="col-md-4">
        <div class="card mb-4">
          <img src="assets/img/2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ Serie.titre }}</h5>
            <p class="card-text">{{ Serie.description }}</p>
            <p class="card-text">{{ Serie.acteurs }}</p>
            <p class="card-text">{{ Serie.dateDebut }}</p>
            <p class="card-text">{{ Serie.dateFin }}</p>
            <div class="card-body">
              <a href="create-favorite-serie" class="card-link">FavoritSerie</a>
              <a href="#" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>